h1 {
    font-family: 'CMUSerifRoman'; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 3em;
    width: 50%;
    margin: auto;
    text-align: center;
}

body {
    margin: 60px auto;
    width: 70%;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    /* text-decoration: underline; */
    color: #c00;
}

nav {
    text-align: center;
}
nav ul, footer ul {
    font-family: 'CMUSerifRoman', 'Serif';
    font-size: 1.5em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}