h1 {
    font-family: 'CMUSerifRoman'; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 3em;
    width: 50%;
    margin: auto;
    text-align: center;
}

body {
    margin: 60px auto;
    width: 70%;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    text-align: center;
}

footer ul li a img {
    width: 2em;
    height: 2em;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    color: #c00;
}

nav {
    text-align: center;
}
nav ul, footer ul {
    font-family: 'CMUSerifRoman', 'Serif';
    font-size: 1.5em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin: 2em;
}

footer ul li {
    display: inline;
    margin: 1em;
}