<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>{{ page.title }}</title>
            <meta name="description" content="Samuel Flores">
            <meta name="author" content="SitePoint">

            <link rel="stylesheet" href="/css/styles.css?v=1.0">
            <link rel="stylesheet" href="https://fontlibrary.org/face/cmu-serif" type="text/css"/>

            <!--[if lt IE 9]>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <![endif]-->
        </head>

        <body>
            <script src="js/scripts.js"></script>

            <div class="titleDiv">
                <h1>SAMUEL FLORES</h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!-- <li><a href="/">About</a></li> -->
                        <li><a href="https://drive.google.com/open?id=0B2cukkDONPQJal83M3kxUmp0MnM">Resume</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </nav>
            </div><!-- /.blurb -->

            <div class="container">

            {{ content }}
            
            </div>

		    <footer>
                <ul>
                    <li><a href="mailto:floressa@usc.edu"><img src="icons/icon-gmail.png"></a></li>
                    <li><a href="https://github.com/floressa"><img src="icons/icon-github.png"></a></li>
                    <li><a href="https://twitter.com/floressa16"><img src="icons/icon-twitter.png"></a></li>
                    <li><a href="https://linkedin.com/in/samuel-flores"><img src="icons/icon-linkedin.png"></a></li>
                </ul>
		    </footer>
        </body>
    </html>